<div class="row">
  <div class="large-12 columns">
    <ul class="breadcrumbs">
      <li><%= link_to 'Home', admin_path %></li>
      <li><%= link_to 'Campaigns', admin_campaigns_path %></li>
      <li class="current"><%= @campaign.title %></li>
    </ul>
    <h1><%= @campaign.title %></h1>
  </div>
</div>
