<div class="row">
  <div class="large-12 columns">
    <h1>Coming Soon!</h1>

    <%= simple_form_for @subscriber do |f| %>
      <%= f.input :email %>
      <%= f.button :submit %>
    <%- end %>
  <div>
</div>
